/*.partners .content {
    align-items: center;
}
.partners .title {
    padding-top: 160px;
    margin-bottom: 10px;
}
.partners .small-title {
    margin: auto;
    color: var(--main-text-color);
    opacity: 0.7;
    font-size: 9pt;
    font-weight: 500;
    width: 740px;
    padding-bottom: 42px;
}
.partners-container {
    width: 100%;
}
.partners-group {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 155px;
    display: flex;
    flex-direction: row;
}
.partners-frame1, .partners-frame2, .partners-frame3, .partners-frame4, .partners-frame5, .partners-frame6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 291px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
}
.partners-frame1 {
    margin-right: 10px;
    margin-left: -13px;
}
#partners-img1 {
    max-width: 150px;
    max-height: 150px;
}
.partners-frame2 {
    margin-right: 10px;
    margin-left: 10px;
}
#partners-img2 {
    max-width: 97px;
    max-height: 97px;
}
#partners-img3 {
    max-width: 186px;
    max-height: 38px;
}
#partners-img4 {
    max-width: 102px;
    max-height: 37px;
}
#partners-img5 {
    max-width: 88px;
    max-height: 88px;
}
.partners-frame4 {
    margin-right: 10px;
    margin-left: -171px;
}
.partners-frame5 {
    margin-left: 10px;
    margin-right: -235px;
}
.partners-frame6 {
    margin-left: 10px;
    margin-right: -82px;
}*/


.partners .title {
    margin-top: 100px;
    margin-bottom: 10px;
}
.partners .small-title {
    font-size: 9pt;
    width: fit-content;
    color: var(--main-text-color);
    opacity: 0.7;
    font-weight: 500;
    margin-bottom: 10px;
}
.partners-group1 {
    margin: auto;
    width: 90%;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.partners-group2  {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 155px;
    padding: 0;
    width: 100%;
}
.partners-frame1, .partners-frame2, .partners-frame5, .partners-frame4, .partners-frame3, .partners-frame6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    margin: 10px;
}
#partners-img1 {
    max-width: 115px;
    max-height: 115px;
    margin: 5px;
}
#partners-img2 {
    max-width: 80px;
    max-height: 80px;
    margin: 40px;
}
#partners-img3 {
    max-width: 180px;
    max-height: 36px;
    margin: 42px;
}
#partners-img4 {
    max-width: 100px;
    max-height: 34px;
    margin: 43px;
}
#partners-img5 {
    max-width: 115px;
    max-height: 115px;
}
.partners-frame3 {
    display: none;
}

@media only screen and (min-width: 768px) {
    .partners-group2 {
        display: flex;
        flex-direction: row;
    }
    .partners-group1 {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 155px;
        flex-direction: row;
    }
    .partners .title {
        margin-top: 160px;
    }
    .partners .small-title {
        font-size: 16px;
        line-height: 22px;
        margin: auto;
        width: 740px;
        margin-bottom: 42px;
    }
    .partners-frame1, .partners-frame2, .partners-frame4, .partners-frame5, .partners-frame3, .partners-frame6 {
        width: 291px;
        height: 155px;
    }
    .partners-frame1 {
        margin-right: 10px;
        margin-left: -13px;
    }
    .partners-frame2 {
        margin-right: 10px;
        margin-left: 10px;
    }
    .partners-frame4 {
        margin-right: 10px;
        margin-left: -171px;
    }
    .partners-frame5 {
        margin-left: 10px;
        margin-right: -235px;
    }
    .partners-frame6 {
        margin-right: 10px;
        margin-left: 10px;
    }
    .partners-frame3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: -82px;
    }
    #partners-img1 {
        width: 150px;
        height: 150px;
    }
    #partners-img2 {
        width: 97px;
        height: 97px;
    }
    #partners-img3 {
        width: 186px;
        height: 38px;
    }
    #partners-img4 {
        width: 102px;
        height: 37px;
    }
    #partners-img5 {
        width: 88px;
        height: 88px;
    }
}