@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-text-color: #050C33;

}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.fileBtn {
    display: inline-flex;
    font-size: 16px;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #000;
    cursor: pointer;
    margin: 30px;
}
.popUpContainer {
    width: 375px;
    box-sizing: border-box;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.31);
    position: relative;
    padding: 20px;
    background-color: #fff;
}
.popUpContainer .closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.popUpContainer p {
    font-size: 16px;
    line-height: 1.5;
}
.bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
