#im {
    width: 280px;
    height: 280px;
    padding-bottom: 30px;
}
.name {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    width: 280px;
}
.info {
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.7;
    width: 280px;
}
.group {
    padding-top: 55px;
}
.team .title {
    padding-bottom: 25px;
}
#group2 {
    padding-bottom: 60px;
}
.team {
    width: 100%;
    padding-top: 160px;
}