#team-image {
    object-fit: cover;
    width: 100%;
    padding-bottom: 30px;
}
.team-name {
    width: 100%;
    text-align: left;
    color: var(--main-text-color);
    font-size: 12pt;
    font-weight: 700;
    margin: 2px 0;
}
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-info {
    width: 100%;
    text-align: left;
    color: var(--main-text-color);
    opacity: 0.7;
    font-size: 9pt;
    font-weight: 500;
    margin-bottom: 40px;
}
.team-group {
    padding-top: 20px;
}
.team .title {
    padding-bottom: 20px;
}
.team {
    width: 100%;
    padding-top: 100px;
}
@media only screen and (min-width: 768px) {
    .team-name {
        font-size: 16px;
        line-height: 22px;
        width: 280px;
    }
    .team-info {
        font-size: 16px;
        line-height: 22px;
        width: 280px;
    }
    .team-group {
        padding-top: 55px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .team .title {
        padding-bottom: 25px;
    }
    .team {
        padding-top: 160px;
        padding-bottom: 60px;
    }
    #team-image {
        width: 280px;
        height: 280px;
    }
}