.team .title {
    margin-top: 100px;
}
.team-image {
    object-fit: cover;
    margin-bottom: 30px;
    width: 100%;
}
.team-name {
    width: 100%;
    text-align: left;
    color: var(--main-text-color);
    font-size: 12pt;
    font-weight: 700;
    margin: 2px 0;
}
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-info {
    width: 100%;
    text-align: left;
    color: var(--main-text-color);
    opacity: 0.7;
    font-size: 9pt;
    font-weight: 500;
    margin-bottom: 40px;
}
.team-group {
    margin-top: 40px !important;
}

.team {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .team-name {
        font-size: 16px;
        line-height: 22px;
        max-width: 280px;
        max-height: 280px;
    }

    .team-group {
        margin-top: 60px !important;
    }

    .team-info {
        font-size: 16px;
        line-height: 22px;
        max-width: 280px;
        max-height: 280px;
    }

    .team-image {
        max-width: 280px;
        max-height: 280px;
    }
    .team .title 
    {
        margin-top: 160px;
    }
}